/node_modules/
node_modules
process.env
dist
.env
env

node_modules/
npm-debug.log

package-lock.json
yarn.lock

.vscode/
.idea/

*.log
build/
dist/

.env
.env.local

/dist/
/out/
/build/

*.config.js
*.config.json

.DS_Store
Thumbs.db

.vscode/
.idea/

.cached/

*.local.*
*.local

*.tmp

/test-results/
/coverage/
